In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("LT.csv")
dataset

            Date Symbol Series  ...    Trades  Deliverable Volume  %Deliverble
0     2004-06-23     LT     EQ  ...       NaN              395612       0.1466
1     2004-06-24     LT     EQ  ...       NaN              305751       0.3347
2     2004-06-25     LT     EQ  ...       NaN              217950       0.1331
3     2004-06-28     LT     EQ  ...       NaN              194984       0.2135
4     2004-06-29     LT     EQ  ...       NaN              101786       0.1370
...          ...    ...    ...  ...       ...                 ...          ...
4077  2020-11-23     LT     EQ  ...  117426.0             2145194       0.4291
4078  2020-11-24     LT     EQ  ...  127581.0             2134296       0.4616
4079  2020-11-25     LT     EQ  ...  122884.0             1515634       0.3258
4080  2020-11-26     LT     EQ  ...  153742.0             3010531       0.4090
4081  2020-11-27     LT     EQ  ...  196120.0            15569906       0.8197

[4082 rows x 15 columns]

In [3]:
dataset.isnull().sum()

Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1728
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [4]:
dataset.dropna(inplace=True)
dataset

            Date Symbol Series  ...    Trades  Deliverable Volume  %Deliverble
1728  2011-06-01     LT     EQ  ...  110884.0              835150       0.4453
1729  2011-06-02     LT     EQ  ...   54940.0              770133       0.5374
1730  2011-06-03     LT     EQ  ...   83507.0             1672339       0.6033
1731  2011-06-06     LT     EQ  ...   59907.0              478964       0.3890
1732  2011-06-07     LT     EQ  ...   51705.0              617338       0.4956
...          ...    ...    ...  ...       ...                 ...          ...
4077  2020-11-23     LT     EQ  ...  117426.0             2145194       0.4291
4078  2020-11-24     LT     EQ  ...  127581.0             2134296       0.4616
4079  2020-11-25     LT     EQ  ...  122884.0             1515634       0.3258
4080  2020-11-26     LT     EQ  ...  153742.0             3010531       0.4090
4081  2020-11-27     LT     EQ  ...  196120.0            15569906       0.8197

[2354 rows x 15 columns]

In [5]:
dataset.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [6]:
to_drop = ['Date', 'Symbol', 'Series']
dataset = dataset.drop(columns = to_drop)
dataset

      Prev Close     Open     High  ...    Trades  Deliverable Volume  %Deliverble
1728     1642.35  1642.00  1689.00  ...  110884.0              835150       0.4453
1729     1684.95  1665.20  1677.75  ...   54940.0              770133       0.5374
1730     1672.10  1681.00  1719.70  ...   83507.0             1672339       0.6033
1731     1712.75  1700.00  1736.05  ...   59907.0              478964       0.3890
1732     1727.80  1721.45  1726.40  ...   51705.0              617338       0.4956
...          ...      ...      ...  ...       ...                 ...          ...
4077     1132.30  1138.80  1147.85  ...  117426.0             2145194       0.4291
4078     1125.85  1135.00  1144.00  ...  127581.0             2134296       0.4616
4079     1135.50  1141.50  1147.80  ...  122884.0             1515634       0.3258
4080     1116.00  1130.00  1134.95  ...  153742.0             3010531       0.4090
4081     1118.85  1129.00  1139.80  ...  196120.0            15569906       0.8197

[2354 rows x 12 columns]

## input features and target

In [7]:
dataset.columns

Index(['Prev Close', 'Open', 'High', 'Low', 'Last', 'Close', 'VWAP', 'Volume',
       'Turnover', 'Trades', 'Deliverable Volume', '%Deliverble'],
      dtype='object')

In [8]:
tar_col = ['VWAP']
Y = dataset[tar_col]
#Y

In [9]:
X = dataset.drop(columns = tar_col)
#X

In [10]:
X = np.array(X)
#X

In [11]:
Y = np.array(Y)
#Y

# XGBoost Model

In [12]:
from numpy import loadtxt
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

In [14]:
model = XGBRegressor()
model.fit(X, Y)

[14:42:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [15]:
y_pred = model.predict(X_test)
y_pred

array([1234.5563 , 1617.6014 , 1388.6208 , 1564.1852 ,  879.51154,
        908.93835, 1331.2637 , 1207.8241 , 1634.0181 , 1388.4186 ,
       1496.7234 , 1469.7222 ,  966.5043 , 1435.1182 , 1617.3214 ,
       1475.7058 , 1442.4308 , 1144.2473 ,  854.2928 ,  974.3084 ,
       1369.9515 ,  822.75183, 1264.1991 , 1381.7397 , 1524.6915 ,
       1348.5078 , 1575.704  , 1724.8085 , 1357.7523 , 1648.6675 ,
       1338.1443 , 1330.2284 , 1718.5623 , 1684.3882 , 1300.3188 ,
       1724.1464 , 1192.5015 , 1067.2273 ,  925.6504 , 1225.5266 ,
       1170.8276 , 1689.3309 , 1709.3905 , 1310.9923 , 1248.5435 ,
       1341.8644 , 1543.3373 , 1340.4315 , 1027.8756 , 1091.3872 ,
       1218.8372 , 1572.344  ,  827.0884 , 1359.2749 ,  949.9868 ,
       1137.7504 , 1343.4008 , 1390.4955 , 1292.5339 , 1292.3317 ,
       1239.8041 , 1531.8923 , 1495.0753 , 1756.2391 , 1454.2618 ,
       1299.8927 , 1399.8214 , 1282.5952 , 1350.6414 , 1344.3038 ,
        967.95264, 1334.901  ,  976.9559 , 1549.5713 , 1469.6938 ,
       1487.53   , 1338.2766 , 1359.4772 , 1665.2104 , 1734.6056 ,
       1343.82   , 1421.8854 , 1330.3816 , 1669.5647 ,  824.21564,
       1065.7627 , 1299.8649 , 1599.6973 , 1390.2657 , 1443.289  ,
       1475.6392 , 1668.161  , 1762.3745 ,  902.9726 , 1518.9584 ,
       1642.0192 , 1425.0944 , 1811.5625 , 1718.43   , 1155.1276 ,
        976.89374, 1422.105  , 1481.3855 , 1139.5284 , 1421.5557 ,
       1330.1458 , 1452.7777 , 1324.6329 , 1741.6139 , 1786.8054 ,
       1522.1758 , 1501.5062 , 1359.4412 , 1551.9266 , 1356.2714 ,
       1787.5061 , 1645.2775 ,  795.67633, 1423.0052 , 1456.9857 ,
       1374.6215 , 1371.7363 , 1361.7888 , 1135.5647 , 1571.3969 ,
       1067.1354 , 1743.5995 , 1067.1284 , 1223.6766 , 1372.3127 ,
       1294.8522 , 1410.4957 , 1659.1866 , 1018.4013 , 1127.2144 ,
       1519.9683 ,  841.90674,  851.0499 ,  906.8745 , 1211.8807 ,
       1685.2953 , 1303.831  , 1425.0652 ,  914.59644, 1290.7164 ,
       1595.9921 , 1563.4279 , 1510.2119 , 1660.5935 ,  925.8335 ,
       1486.4954 , 1543.6458 , 1425.3688 , 1689.6482 , 1525.6223 ,
       1364.2507 , 1506.6515 , 1462.4728 , 1351.1416 , 1058.0999 ,
       1361.077  ,  946.77405, 1564.2515 , 1235.2393 , 1564.443  ,
       1236.0546 , 1443.8712 , 1124.0033 ,  726.2463 , 1116.4719 ,
       1529.0438 , 1346.0669 , 1106.553  , 1564.2975 , 1380.0951 ,
       1520.4436 , 1324.7831 , 1480.911  , 1259.4841 , 1330.1144 ,
       1489.3414 , 1159.0754 , 1470.0343 , 1682.5137 , 1702.4625 ,
       1213.1667 , 1712.6444 , 1242.2618 , 1138.2994 , 1505.3925 ,
       1368.1517 , 1352.4662 , 1575.1844 ,  999.9482 , 1352.522  ,
       1394.6914 , 1495.8649 , 1507.4716 , 1510.043  , 1632.2859 ,
       1461.8573 , 1617.4155 ,  926.0055 , 1411.269  , 1497.3103 ,
       1531.8191 , 1659.131  , 1593.0048 , 1459.6335 , 1265.6362 ,
       1496.0371 , 1453.1277 , 1317.2156 , 1709.3905 , 1766.9221 ,
       1426.0468 , 1250.2814 , 1141.862  , 1518.1918 , 1371.8882 ,
       1535.4991 , 1529.4442 , 1308.8158 , 1280.9407 ,  824.59644,
       1354.628  , 1058.7267 , 1681.3861 , 1431.0593 , 1408.121  ,
       1383.4153 , 1647.6875 , 1317.402  ,  976.89417, 1507.2854 ,
       1365.5481 , 1566.1002 , 1035.5171 , 1116.5632 , 1648.6958 ,
       1337.2914 ,  928.1097 ,  902.3557 , 1374.3085 ,  914.6039 ,
        806.8818 ,  799.3938 , 1285.4344 , 1451.2157 , 1668.7831 ,
       1238.5692 , 1458.6211 , 1116.0289 ,  939.6368 , 1388.6208 ,
       1639.6453 ,  733.37225, 1329.7092 , 1140.5325 , 1329.8085 ,
       1344.9342 , 1292.0015 , 1671.9001 , 1351.1412 , 1081.458  ,
       1486.9805 , 1303.3765 , 1461.3524 ,  826.62085, 1139.161  ,
       1544.9735 , 1506.5215 , 1759.7136 , 1180.6523 , 1243.191  ,
       1364.4503 , 1299.8173 , 1302.0283 , 1228.4867 , 1308.8158 ,
       1469.2426 , 1425.5103 , 1300.7529 , 1110.8501 , 1123.4574 ,
       1381.4674 , 1757.761  , 1154.017  , 1292.3756 , 1353.7471 ,
       1626.7267 , 1351.7445 , 1279.3887 ,  807.21497, 1543.0739 ,
       1455.906  , 1492.7628 , 1749.7617 ,  942.43475, 1266.0966 ,
       1372.1044 , 1401.7058 , 1308.8716 , 1619.6483 ,  967.59753,
       1654.4828 , 1608.4746 , 1327.5663 , 1369.6793 , 1330.4094 ,
       1260.0388 ,  850.41724, 1303.1886 , 1189.7509 , 1401.4624 ,
       1555.8357 , 1152.6545 ,  939.1853 , 1493.974  , 1341.669  ,
       1476.3135 , 1614.6547 , 1336.9087 , 1330.5851 , 1665.6482 ,
       1220.0631 , 1293.7961 , 1381.8818 ,  717.10077, 1472.6494 ,
       1376.5186 ,  992.     , 1531.0922 , 1544.1482 , 1312.5209 ,
       1444.4111 , 1241.4862 , 1730.1914 , 1436.0884 , 1410.7676 ,
       1352.2825 , 1219.4188 , 1564.239  , 1421.9308 ,  961.3581 ,
       1666.6708 , 1359.2749 , 1496.364  , 1531.4921 , 1442.8102 ,
       1610.3171 , 1563.8765 , 1267.9509 , 1310.79   , 1303.3977 ,
       1480.17   , 1401.818  , 1345.2886 , 1668.7831 , 1584.1139 ,
       1399.5594 , 1201.093  , 1081.7656 ,  746.1061 ,  831.9991 ,
       1374.4812 , 1631.093  , 1198.5793 , 1711.6732 , 1280.7654 ,
       1311.3055 , 1206.204  , 1766.1007 ,  714.6002 , 1350.9701 ,
       1518.2228 , 1220.6729 ,  995.9983 , 1266.1338 , 1703.0281 ,
       1361.0109 , 1582.7983 , 1291.9802 , 1209.2543 , 1595.5836 ,
       1860.7422 , 1348.4199 , 1287.6299 , 1228.6842 , 1286.6785 ,
       1399.8586 ,  966.4554 , 1132.7627 , 1081.8917 , 1173.385  ,
       1221.4464 , 1447.2748 , 1717.7551 , 1374.7537 , 1819.8872 ,
       1223.9891 , 1359.4214 , 1496.2466 , 1736.0697 , 1531.3702 ,
       1551.3904 , 1360.9772 , 1496.9553 , 1316.1428 , 1439.0834 ,
        974.80304, 1311.1537 , 1392.9135 , 1052.9117 , 1434.7395 ,
       1563.9348 , 1172.6832 , 1599.2671 , 1401.7949 , 1426.0468 ,
       1421.9972 , 1288.4911 , 1459.979  , 1282.0048 , 1359.4119 ,
       1349.2114 , 1447.6404 , 1694.1068 , 1292.5154 , 1535.0292 ,
       1476.0167 , 1461.7593 , 1264.2002 , 1779.963  , 1331.466  ,
       1455.6313 , 1434.3739 , 1807.7885 , 1315.7285 , 1510.4563 ,
       1561.7151 , 1345.7544 , 1718.5623 , 1323.6174 , 1369.5658 ,
       1583.0891 , 1608.2728 , 1353.6595 , 1451.9435 , 1635.1877 ,
       1572.7124 ,  953.3164 , 1323.8969 ,  906.97845, 1268.0187 ,
       1281.9862 , 1144.4644 , 1027.4756 , 1545.0763 , 1378.358  ,
       1506.449  , 1684.299  , 1259.9822 , 1619.9841 , 1499.414  ,
       1609.2261 , 1518.9252 , 1212.3597 , 1755.3932 , 1487.0647 ,
       1464.7833 ], dtype=float32)

In [16]:
scores = cross_val_score(XGBRegressor(objective='reg:squarederror'), X_test, y_test, scoring='neg_mean_squared_error')

In [17]:
((-scores)**0.5).mean()

10.464159129357737